@import "tailwindcss";

.hero__section {
  background: url("/assets/images/hero.png") no-repeat center;
  background-size: cover;
  height: 690px;
  max-width: 100%;
}

@theme {
  --color-primary: #cb1b1b;
  --color-primary-shade3: #871212;
  --color-gray-1: #fafafa;
  --color-gray-2: #f9f9f9;
  --color-gray-3: #ededed;
  --color-gray-4: #e1e1e1;
  --color-gray-5: #d9d9d9;
  --color-gray-7: #adadad;
  --color-gray-8: #909090;
  --color-gray-9: #717171;
  --color-gray-10: #505050;
  --color-gray-11: #353535;
  --color-gray-12: #212121;
  --color-service-black: #0c0c0c;

  --font-regular-shabnam: Shabnam;
  --font-bold-shabnam: Shabnam-Bold;
  --font-medium-shabnam: Shabnam-Medium;
  --font-thin-shabnam: Shabnam-Thin;
  --font-light-shabnam: Shabnam-Light;

  --shadow-next-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

@utility container {
  @apply mx-auto max-w-[1224px];
}

/* @media only screen and (max-width: 640px) {
 body {
  .hero__section {
    height: 215px;
  }
 }
} */

.primary__btn {
  @apply w-full bg-primary rounded-lg text-center p-4 cursor-pointer text-white text-sm font-medium-shabnam font-medium;
}

@font-face {
  font-family: Shabnam;
  src: url("/assets/fonts/Shabnam.woff2") format("woff2"),
    url("/assets/fonts/Shabnam.woff") format("woff"),
    url("/assets/fonts/Shabnam.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Medium.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: Shabnam-Bold;
  src: url("/assets/fonts/Shabnam-Bold.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Bold.woff") format("woff"),
    url("/assets/fonts/Shabnam-Bold.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: Shabnam-Medium;
  src: url("/assets/fonts/Shabnam-Medium.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Medium.woff") format("woff"),
    url("/assets/fonts/Shabnam-Medium.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Medium.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: Shabnam-Thin;
  src: url("/assets/fonts/Shabnam-Thin.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Thin.woff") format("woff"),
    url("/assets/fonts/Shabnam-Thin.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Thin.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: Shabnam-Light;
  src: url("/assets/fonts/Shabnam-Light.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Light.woff") format("woff"),
    url("/assets/fonts/Shabnam-Light.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Light.eot?#iefix") format("embedded-opentype");
}

* {
  @apply font-regular-shabnam;
}
