@import "tailwindcss";

.hero__section {
  background: url("/assets/images/hero.png") no-repeat center;
  background-size: cover;
  height: 690px;
  max-width: 100%;
}

@media only screen and (max-width: 640px) {
  .hero__section {
    height: 400px;
  }
}

@theme {
  --color-primary: #cb1b1b;
  --color-primary-shade3: #871212;
  --color-gray-1: #fafafa;
  --color-gray-2: #f9f9f9;
  --color-gray-3: #ededed;
  --color-gray-4: #e1e1e1;
  --color-gray-5: #d9d9d9;
  --color-gray-6: #cbcbcb;
  --color-gray-7: #adadad;
  --color-gray-8: #909090;
  --color-gray-9: #717171;
  --color-gray-10: #505050;
  --color-gray-11: #353535;
  --color-gray-12: #212121;
  --color-gray-13: #121212;
  --color-service-black: #0c0c0c;
  --color-info-input: #2f80ed;
  --color-info-input-back: #d7eafc;

  --font-regular-shabnam: Shabnam;
  --font-bold-shabnam: Shabnam-Bold;
  --font-medium-shabnam: Shabnam-Medium;
  --font-thin-shabnam: Shabnam-Thin;
  --font-light-shabnam: Shabnam-Light;

  --shadow-next-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  --shadow-input: 0 0 0 4px #d7eafc;
}

@utility container {
  @apply mx-auto max-w-[1224px];
}

/* @media only screen and (max-width: 640px) {
 body {
  .hero__section {
    height: 215px;
  }
 }
} */

.primary__btn {
  @apply w-full bg-primary rounded-lg text-center p-4 cursor-pointer text-white text-sm font-medium-shabnam font-medium;
}
.login__register__input {
  @apply w-full border border-info-input p-4 outline-0 rounded-lg mb-4 focus:shadow-input;
}

/* start services */
#services__swiper .swiper-wrapper {
  padding-bottom: 1rem;
}

/* #services__swiper .swiper-slide {
  margin-left: 0;
} */

/* end services */

@font-face {
  font-family: Shabnam;
  src: url("/assets/fonts/Shabnam.woff2") format("woff2"),
    url("/assets/fonts/Shabnam.woff") format("woff"),
    url("/assets/fonts/Shabnam.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Medium.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: Shabnam-Bold;
  src: url("/assets/fonts/Shabnam-Bold.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Bold.woff") format("woff"),
    url("/assets/fonts/Shabnam-Bold.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Bold.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: Shabnam-Medium;
  src: url("/assets/fonts/Shabnam-Medium.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Medium.woff") format("woff"),
    url("/assets/fonts/Shabnam-Medium.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Medium.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: Shabnam-Thin;
  src: url("/assets/fonts/Shabnam-Thin.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Thin.woff") format("woff"),
    url("/assets/fonts/Shabnam-Thin.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Thin.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: Shabnam-Light;
  src: url("/assets/fonts/Shabnam-Light.woff2") format("woff2"),
    url("/assets/fonts/Shabnam-Light.woff") format("woff"),
    url("/assets/fonts/Shabnam-Light.ttf") format("truetype"),
    url("/assets/fonts/Shabnam-Light.eot?#iefix") format("embedded-opentype");
}

* {
  @apply font-regular-shabnam;
}

@media only screen and (max-width: 768px) {
  #search-form-city {
    width: 100%;
  }
}

/* active nav for sidebar */
.nav__active {
  position: relative;
}
.nav__active::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--color-primary);
  width: 6px;
  height: 24px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

div > .nav__active > svg {
  fill: var(--color-gray-11) !important;
  margin-right: 8px;
}
div > .nav__active > span {
  color: var(--color-gray-11) !important;
}

